@tailwind base;
@tailwind components;
@tailwind utilities;


#icon1, #icon2, #icon3{
    display: inline-flex;
    width:48px;
    height:48px;
}

#linkedin{
    text-align:center;
    margin:0;
    width:42px;
    height:42px;
}

#github{
    text-align:center;
    margin:0;
    width:42px;
    height:42px;
}

#instagram{
    text-align:center;
    margin:0;
    width:42px;
    height:42px;
}

#facebook{
    text-align:center;
    margin:0;
    width:42px;
    height:42px;
}

#x{
    text-align:center;
    margin:0;
    width:42px;
    height:42px;
}