@tailwind base;
@tailwind components;
@tailwind utilities;

img[alt*="Leah Abraham"] {
    max-width: 25%;
    max-height: 15%;
    float: left;
    margin-right: 5em;
    border: white solid 3px;
}

/*image[alt*="water lilly"]{*/
/*    max-width:2px;*/
/*    max-height:2px;*/
/*    float: left;*/
/*    margin-right: 5em;*/
/*    border: white solid 3px;*/
/*}*/

/*.Trauma {*/
/*    background-color: pink;*/
/*    color: white;*/
/*    padding:10px 20px 20px 100px;*/
/*}*/

#icon1, #icon2, #icon3{
    display: inline-flex;
    width:48px;
    height:48px;
}

#linkedin{
    text-align:center;
    margin:0;
    width:42px;
    height:42px;
}

#github{
    text-align:center;
    margin:0;
    width:42px;
    height:42px;
}

#instagram{
    text-align:center;
    margin:0;
    width:42px;
    height:42px;
}

#facebook{
    text-align:center;
    margin:0;
    width:42px;
    height:42px;
}

#x{
    text-align:center;
    margin:0;
    width:42px;
    height:42px;
}